/*
--------- layout
*/
html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 1.6;
}

body{
    margin: 0 auto;
    width: 80vw;
    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

main{
    grid-area: content;
}

footer{
    grid-area: footer;
}